.carousel__3D{
	overflow-x: hidden;
	position: relative;
	display: flex;
	height: 48rem;
	align-items: center;
	flex-direction: column;
	
	@include md {
		overflow: initial;
	}

	@include lg {
		height: 52rem;
	}

	@include xl {
		height: 50vh;
		flex-direction: row;
		width: 1010px;
    margin: 0 auto;
	}

	@include xxl {
		transform: scale(1.5);
	}

}

.carousel__wrapper{
	margin: auto;
	box-sizing: border-box;
	flex: 1 0 50%;
	position: absolute;

	transform: translate(-50%, -50%) scale(.6);
	top: 50%;
	left: 50%;

	@include md {
		overflow: initial;
		position: relative;
		transform: initial;
		top: initial;
		left: initial;
	}
}

.carousel__infos {
	text-align: center;
	flex: 1;
	position: absolute;
	bottom: 0;

	@include xl {
		text-align: initial;
		position: initial;
		bottom: initial;
	}
}

.infos__item {
	animation: appear .5s cubic-bezier(.49,.04,.28,.99);

	h3 {
		@include title;
		@include md {
			font-size: 2.6rem;
		}
	}

	h4, p , a {
		@include display_text;
		font-size: .75em;
		@include xl {
			font-size: 1em;
		}
	}
}

.carousel__3D--downloads {
	height: 55rem;
	z-index: 1;

	@include md {
		flex-direction: column-reverse;
		height: 40rem;
	}
	@include xl {
		height: initial;
		flex-direction: row;
		max-width: 1280px;
    width: auto;
	}

	@include xxl {
		width: 64%;
	}

	@include huge {
		max-width: 1520px;
	}
}

.carousel__infos--downloads {
	bottom: 12rem;
	@include md {
		bottom: -10rem;
	}
	@include xl {
		position: absolute;
		bottom: -4rem;
		left: 280px;
		text-align: center;
	}
}

.infos__item--downloads {
	animation: appearSmall .5s cubic-bezier(.49,.04,.28,.99);
	height: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include md {
		height: 35rem;
	}
	@include xl {
		height: 40rem;
		width: 20rem;
	}
}


@keyframes appear {
	0%{
		transform: translateY(30%);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes appearSmall {
	0%{
		transform: translateY(5%);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.addFrame {
	border: 1px solid $gold;
}

.carousel__item {
	position: 'absolute';
	top: 0;
	left: 0;
	list-style-type: none;

	img {
		@include md {
			// height: 30vh;
			// width: 15vw;
		}
		// height: 30vh;
	}

	&::after{
		content: '';
		position: absolute;
		height: 2rem;
		width: 100%;
		bottom: -25%;
		display: block;
		background: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
	}
}

.carousel__item:hover {
	cursor: pointer;
}

.d-none {
	display: none;
}