.icon {
  display: inline-block;
  position: relative;

  svg {
    path, polygon {
      fill: $gold;
    }
  }

  span {
    font-size: .9rem;
    @include display_text;
    font-style: normal;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

    @include xl {
      font-size: 1.2rem;
    }
  }
}

.icon--plus {
  height: 2rem;
  width: 2rem;
	transition: .5s all cubic-bezier(.49,.08,.23,.98);
}

.icon--view {
  height: 2rem;
  width: 2rem;
	transition: .5s all cubic-bezier(.49,.08,.23,.98);
}

.icon__location {
  height: 9.5rem;
  width: 9.5rem;

  @include xl {
    width: 12rem;
    height: 12rem;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.icon--cross {
  width: 2rem;
  height: 2rem;
}

.icon__social {
  padding: .5rem;
  height: 3rem;
  width: 3rem;

  svg {
    width: 100%;
    height: 100%;
    path, polygon {
      fill: $gold;
    }
  }
}

.icon__util {
  height: 5rem;
  width: 5rem;

  svg {
    width: 100%;
    height: 100%;

  }
}