// html,
// body,
// #root {
// 	width: 100%;
// 	height: 100%;
// 	margin: 0;
// 	padding: 0;
// 	overflow: hidden;
// 	// background-color: white;
// }

// .App {
// 	height: 100%;
// }

.container {
	width: 100%;
	height: 100%;
	bottom: 0;
	display: flex;
	// align-items: center;
	justify-content: center;
	position: absolute;
	align-items: flex-end;
}

$lightBlend: #fcfae4;

.card1 {
	// min-width: 60ch;
	// min-height: 60ch;
	top: 50%;
	align-self: center;
	position: absolute;
	border: 8px solid rgb(240, 235, 197);
	will-change: transform;
	width: 37vw;
	height: 35vh;
	background: radial-gradient(#fff 30%, $lightBlend 100%);
	animation: callOfLions 10s infinite linear;

	@include md {
		top: 43%;
		width: 27vw;
	}

	@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
		top: 33%;
		width: 17vw;
	}

	@include xl {
		top: 20%;
		height: 60vh;
		width: 17vw;
	}

	&::after {
		content: '';
		position: absolute;
		width: 173%;
		height: 120%;
		top: 0;
		left: -35%;
		background: transparent url('/portal2.png') no-repeat;
		background-size: 100%;
		background-position: center;
		animation: rotating 5s linear infinite;
	}
}

@keyframes rotating {
	0%{
		filter: brightness(1);
		transform: rotate(0deg);
	}

	50% {
		filter: brightness(1.2);
		transform: rotate(180deg);
	}

	100% {
		filter: brightness(1);
		transform: rotate(360deg);
	}
}

.card2 {
	will-change: transform;
	background-image: url('/layered-lions.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 160%;
	height: 60%;
	bottom: -10%;
	width: 100%;

	@include md {
		background-size: 120%;
	}

	@include lg {
		background-size: contain;
	}
}

@keyframes callOfLions {
	0% {
		background: radial-gradient(#fff 0%, $lightBlend 100%);
		box-shadow: 0 0 2px #fff,
			0 0 2px #fff,
			0 0 3px yellow,
			0 0 4px $lightBlend,
			0 0 5px $lightBlend,
	}

	50% {
		background: radial-gradient(#fff 30%, $lightBlend 100%);
		box-shadow: 0 0 20px #fff,
			0 0 30px #fff,
			0 0 40px #fff,
			0 0 50px #fff,
			0 0 60px #fff,

	}

	100% {
		background: radial-gradient(#fff 0%, $lightBlend 100%);
		box-shadow: 0 0 2px #fff,
			0 0 2px #fff,
			0 0 3px yellow,
			0 0 4px $lightBlend,
			0 0 5px $lightBlend,
	}
}

.scene {
	height: 100%;
	// width: 100vw;
	// background: green;
	// z-index: -1;
	position: relative;
	overflow: hidden; 
	background: radial-gradient(ellipse at bottom, #ea526a 0%, #2d1d46 70%, #090a0f 100%);

	&::after {
		content: '';
		position: absolute;
		background: radial-gradient(transparent 0%, #000 250%);
		height: 100%;
		width: 100%;
		pointer-events: none;
		top: 0;
	}

	&::before {
		content: ' ';
		position: absolute;
    background: linear-gradient(to top, #000 20%, transparent);
		height: 20%;
		width: 100%;
		pointer-events: none;
		bottom: 0;
		z-index: 1;
	}

	canvas{
		
		
		background-image: url('/nebula-opt-2.jpg');
		// background: radial-gradient(ellipse at bottom, #ea526a 0%, #2d1d46 70%, #090a0f 100%);
		background-repeat: no-repeat;
		background-size: cover;
		// filter: contrast(1.6);
	}

	.scene-background {

	}

	.scene-landscape {
		// background: red;
		background-image: url('/layered-landscape.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100%;
		bottom: 0;
		width: 100%;
		position: absolute;
		filter: blur(1px);
	}

	.scene-lions {
		// background: blue;
		background-image: url('/layered-lions.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: contain;
		height: 70%;
		bottom: 0;
		width: 100%;
		position: absolute;
	}
}

// n is number of stars required
@function multiple-box-shadow($n) {
	$value: "#{random(2000)}px #{random(2000)}px #FFF";

	@for $i from 2 through $n {
		$value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
	}

	@return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

// html {
// 	height: 100%;
// 	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
// 	overflow: hidden;
// }

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: $shadows-small;
	animation: animStar 50s linear infinite;
	filter: blur(1px);

	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $shadows-small;
	}
}

#stars2 {
	width: 2px;
	filter: blur(1px);
	height: 2px;
	background: transparent;
	box-shadow: $shadows-medium;
	animation: animStar 100s linear infinite;

	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $shadows-medium;
	}
}

#stars3 {
	filter: blur(1px);
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: $shadows-big;
	animation: animStar 150s linear infinite;

	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $shadows-big;
	}
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}