.frame {
	position: relative;
	border-left: 2px solid $gold;
	border-right: 2px solid $gold;
	border-bottom: 2px solid $gold;
	height: 90%;
	width: 92%;
	transform: translate(-50%, -50%);
	top: 52%;
	left: 50%;
	
	@include lg {
		width: 96%;
	}
}