.menutoggler__button{
	transition: 1s all cubic-bezier(.51,.09,.36,1.01);
	transform: translateX(0%);
}

.menutoggler{

	rect {
		transition: .7s all cubic-bezier(.51,.09,.36,1.01);
		fill: $gold;
	}

	// rect:first-child {
	// 	fill: red;
	// 	transform: rotate(45deg);
  //   x: 0;
  //   y: -2;
	// }

	// rect:last-child {
	// 	fill: red;
	// 	width: 30;
  //   x: -18;
  //   y: 10;
  //   transform: rotate(-45deg);
	// }
}

.toggleMenuIcon {
	transition: .7s all cubic-bezier(.51,.09,.36,1.01);
	transform: translateX(20%);
	svg {

		rect {
			transition: .7s all cubic-bezier(.51,.09,.36,1.01);
		}

		rect:first-child {
			transform: rotate(45deg);
			x: 0;
			y: -3;
			width: 22;
		}

		rect:nth-child(2){
			transform: translateX(100%);
		}

		rect:last-child {
			width: 22;
			x: -9;
			y: 10;
			transform: rotate(-45deg);
		}

	}
}

.menuMailer {
	pointer-events: all;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 3%;

	@include lg {
		margin: 1%;
	}
	svg{
		width: 30px;
	}
	
	
}