.menutoggler{
	rect {
		fill: $gold;
	}
}

.menuMailer {
	pointer-events: all;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 3%;

	@include lg {
		margin: 1%;
	}
	svg{
		width: 30px;
	}
	
	
}