.nav {
    // display: none;
    height: 100%;
    position: absolute;
    //background-image: linear-gradient(to top, #000 35%, transparent 100%);
    background-image: linear-gradient(to top, #000 50%, transparent 250%);
    width: 100%;
    pointer-events: all;
    //transform: translateY(100%);
}

.nav__opening {
    transform: translateY(0);
}

.nav__opened {
    background-image: linear-gradient(to top, #000 50%, transparent 250%);
}