.newsletter {
  padding: 0 8%;
  display: flex;
  flex-direction: column;

  input:not([type="submit"]) {
    background: none;
    border: none;
    border-bottom: 1px solid $gold;
  }

  input[type="submit"]{
    @include md {
      margin: 0 auto;
      display: inherit;
    }
  }

  label {
    @include display_text;
    position: absolute;
    z-index: -1;
  }

  @include md {
    padding: 16% 8% 0 8%;
    flex-direction: row;
  }

  @include xl {
    max-width: 1140px;
    margin: 4% auto;
  }

  @include xxl {
    max-width: 1600px;
  }
}

.newsletter__block{
  h3{
    font-size: 3.6rem;
    @include title;
  }
  p {
    @include display_text;
  }
  @include md {
    flex: 1 0 50%;
  }
}

.newsletter__form--field{
  padding: 5% 0;
  flex: 1;
}

.newsletter__datenschutz {
  p {
    font-family: 'Noto Serif';
    font-size: 1.2rem;
  }
}

.newsletter__form--field {
  display: flex;

  input {
    flex: 1;
  }
}

.newsletter__form--block {
  @include xl {
    display: flex;

    .newsletter__form--field:nth-child(2) {
      padding-left: 5%;
    }
  }
}